#aboutMe {
  height: 1080px;
  text-align: center;
}

#middle {
  height: 100%;
}

.triangleContainer {
  height: 100%;
  display: inline-block; 
}

.triangles{
  display: inline-block;
  width: 200px;
  height: 100%;
  background-color: $primary;
}
.rightPanel {
  width: calc(70% - 100px);
  background-color: $primary;
}

.leftPanel {
  width: calc(30% - 100px);
  background-color: $accent;
}

.triangle {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 160px 0 200px 160px;
  border-color: transparent transparent transparent $accent;
}

.mybio {
  position: absolute;
  z-index: 1;
  height: 1080px;
  background-color: rgba(0,0,0,0);
  text-align: center;
}


.absolute {
  position: absolute;
}

.box {
  border: 2px solid white;
  width: 80%;
  padding: 50px;
  font-size: 30px;
  margin: 0 auto;
  opacity:0;
}

