
#contact {
  background-color: $accent;
}
// #contactHead {
//   >span{
//     font-size: 80px;
//     text-align: center;
//     //margin-top: 100px;
//     white-space: nowrap; 
//     position: relative;
//     display: inline-block;
//     &:before, &:after{
//       content: "";
//       position: absolute;
//       top: 50%;
//       width: 40%;
//       height: 1px;
//       background: white;
//     }
//     &:before {
//       right: 100%;
//       margin-right: 15px;
//     }
//     &:after {
//       left: 100%;
//       margin-left: 15px;
//     }
//   }
// }

#modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: #344a61;
}

#modal-box {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 5px solid #344a61;
  margin: 0 auto;
  padding-bottom: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 480px;
}
 // SEND MESSAGE BUTTON
 #modal-show{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  background: rgba(0,0,0,0);
  border: solid 5px white;
  transition: border .9s ease, color .5s ease;
  &:hover {
    border-color: $primary;
    color: $primary;
  }
  &:active, &:focus {
    border-color: #344a61;
    color: #344a61;
    outline: none;
  }
}

#modal-hide {
  background: white;
  border-radius: 15px;
  color: #344a61;
  display: block;
  float: right;
  font-family: monospace;
  font-size: 15px;
  margin-right: -17px;
  position: relative;
  top: -18px;
  width: 30px;
  &:focus {
    outline: none;
  }
}


textarea {
  text-align: margin-left;
  height: 250px;
  width: 250px;
}

::-webkit-input-placeholder {
  text-align: center;
} 

#sendButton{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #344a61;
  background: rgba(0,0,0,0);
  border: solid 5px #344a61;
  transition: border .9s ease, color .5s ease;
  &:hover {
    border-color: $primary;
    color: $primary;
  }
  &:active, &:focus {
    border-color: #344a61;
    color: #344a61;
    outline: none;
  }
}

// #contactInfo {
//   width: 100%;
//   height: 100%;
//   display: table;
//   span {
//     display: table-cell; 
//     vertical-align:  middle;
//     width: 100%;
//     text-align: center;
//     font-size: 30px;
//   }
// }


