

#header {
  position: relative;
  height: 100vh;
  width: 100%;
    .row{
      height: 100%;
      margin: 0;
    }
  }

  #sidePanel {
    background-color: $secondary;
    height: 100%;
}

#rightSide {
  background-color: white;
  height: 100%;
  padding: 0;
}

#picPanel {
  background-image: url("./images/cliff_Fotor.jpg");
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bottom {
  background-color: $primary;
  height: 30%;  
}

.overlay {
  position: absolute;
  z-index: 1;
  > div > div {
    background: rgba(0,0,0, .3);
    display: inline-block;
  }
}

.centerbuttons {
  text-align: center;
}