@media(max-width: 667px) {
  body {
     overflow-x: hidden;
     width: 100%;
     position: relative;
  }

  h1 {
    font-size: 41px;
  }
  .title {
    font-size: 40px;
  }

  .box {
    font-size: 20px;
  }
  #aboutme {
    height: 667px;
  }
  .tech-images {
    height: 70px;
    margin: 15px;

  }
  #techbox {
    margin-top: 15%;
  }
  #modal-box {
    width: 300px;
    height: 470px;
    top: 55%;
    left: -1%;
  }
  textarea {
    height: 220px;
    width: 220px;
  }
}

