
#tech {
  background-color: white;
}

.technologies {
  font-size: 80px;
  text-align: center;
  position: absolute;
  width: 100%; 
  color: $secondary;
  //margin-top: 50px;
  .title {
    > div:before, > div:after {
    background-color: $secondary;
    }
  }
}


// // .technologies > span {
// //   position: relative;
// //   display: inline-block;
// // }

// .technologies > span:before,
// .technologies > span:after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   width: 40%;
//   height: 1px;
//   background: $secondary;
// }

// // .technologies > span:before {
// //   right: 100%;
// //   margin-right: 15px;
// // }

// // .technologies > span:after {
// //   left: 100%;
// //   margin-left: 15px;
// // }

img {
  margin-left: 15px;
  margin-right: 15px;
  //margin-top: 0px;
}

#techbox {
  display: inline-block;
  // height: 90%;
  width: 100%;
}

.tech-images{
  transition: all .5s ease;
  &:hover {
    transform: scale(1.5);
  }
}

// #html, #css, #sass{
//   width: 100px;
// }

// #javascript {
//   width: 250px;
// }

// #jquery {
//   width: 300px;
// }

// #gulp {
//   width: 90px;
// }

// #github {
//   width: 150px;
// }
