
#tech {
  background-color: white;
  height: auto;
}

.technologies {
  height: auto;
  font-size: 80px;
  text-align: center;
  width: 100%; 
  color: $secondary;
  //margin-top: 50px;
  .title {
    > div:before, > div:after {
    background-color: $secondary;
    }
  }
}

img {
  margin-left: 15px;
  margin-right: 15px;
}

#techbox {
  display: inline-block;
  width: 100%;
}

.tech-images{
  transition: all .5s ease;
  &:hover {
    transform: scale(1.5);
  }
}
