// @import "component";

$primary: #8dcbd0;
$secondary: #344a5f;
$accent: #cccccc;


html {
  background-color: white;
}

.row {
  margin: 0;
}

.page {
  height: 100vh;
  min-height: 600px;
}

@import "_home", "_aboutme", "_contacts", "_project", "_technologies";

body {

  font-family: 'Raleway', sans-serif;
  color: white;
  // //margin-top: 58px;
  padding: 0px;
  position: relative;
}


h1 {
  font-size: 120px;
}

h3{
  font-size: 20px;
}


.navbar {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,.0);
  border-radius: 0%;
  border: 0;
  color: white;
  a {
    color: white !important;
  }
  img {
    -webkit-filter: invert(100%);
  }
  li.active > a {
    background-color: transparent !important;
    color: black !important; 

  }
}

.socialMedia{
  width: 26px;
  transition: all .5s ease;
  &:hover{
    filter: invert(0%);
  }
}


footer {
 background-color: gray;
 font-size: 15px;
 text-align: center;
}
