
$primary: #8dcbd0;
$secondary: #344a5f;
$accent: #cccccc;

.table {
  display: table;
  width: 100%;
  height: 100%;
  .vertical-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

html {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

.row {
  margin: 0;
}

.page {
  height: 100vh;
  min-height: 600px;
}

.title {
  font-size: 80px;
  text-align: center;
  display: block;
  width: 100%;
  > div {
    position: relative;
    display: inline-block;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background: white;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

body {

  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 0px;
  position: relative;
}


h1 {
  font-size: 120px;
}

h3{
  font-size: 20px;
}



.navbar {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,.0);
  border-radius: 0%;
  border: 0;
  // color: white;
  a {
    color: white !important;
    transition: color 1s ease;
    &:hover{
      color: gray !important;
    }
  }
  img {
    -webkit-filter: invert(100%);
  }
  li.active > a {
    background-color: transparent !important;
    color: black !important; 
  }
}

.socialMedia {
  width: 50px;
  transition: all .5s ease;
  -webkit-filter: invert(100%);
  &:hover{
    -webkit-filter: hue-rotate(10deg);
  }
}


// .cl-effect-12 a::after {
//     width: 90px;
//     height: 90px;
//     border-width: 6px;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
//     transform: translateX(-50%) translateY(-50%) scale(0.8);
// }
// .cl-effect-12 a::before, .cl-effect-12 a::after {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 100px;
//     height: 100px;
//     border: 2px solid rgba(0,0,0,0.1);
//     border-radius: 50%;
//     content: '';
//     opacity: 0;
//     -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
//     -moz-transition: -moz-transform 0.3s, opacity 0.3s;
//     transition: transform 0.3s, opacity 0.3s;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
//     transform: translateX(-50%) translateY(-50%) scale(0.2);
// }
// *, *:after, *::before {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

footer {
 background-color: gray;
 font-size: 15px;
 text-align: center;
}

@import "_home", "_aboutme", "_contacts", "_project", "_technologies";
@import "_media";

