.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .vertical-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

html {
  background-color: white;
  width: 100%;
  overflow-x: hidden; }

.row {
  margin: 0; }

.page {
  height: 100vh;
  min-height: 600px; }

.title {
  font-size: 80px;
  text-align: center;
  display: block;
  width: 100%; }
  .title > div {
    position: relative;
    display: inline-block; }
    .title > div:before, .title > div:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background: white; }
    .title > div:before {
      right: 100%;
      margin-right: 15px; }
    .title > div:after {
      left: 100%;
      margin-left: 15px; }

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 0px;
  position: relative; }

h1 {
  font-size: 120px; }

h3 {
  font-size: 20px; }

.navbar {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0%;
  border: 0;
  color: white; }
  .navbar a {
    color: white !important; }
  .navbar img {
    -webkit-filter: invert(100%); }
  .navbar li.active > a {
    background-color: transparent !important;
    color: black !important; }

.socialMedia {
  width: 26px;
  transition: all .5s ease; }
  .socialMedia:hover {
    -webkit-filter: invert(0%); }

.navlinks {
  transition: all .5s ease; }
  .navlinks:hover {
    -webkit-filter: invert(0%); }

footer {
  background-color: gray;
  font-size: 15px;
  text-align: center; }

#header {
  position: relative;
  height: 100vh;
  width: 100%; }
  #header .row {
    height: 100%;
    margin: 0; }

#sidePanel {
  background-color: #344a5f;
  height: 100%; }

#rightSide {
  background-color: white;
  height: 100%;
  padding: 0; }

#picPanel {
  background-image: url("./images/cliff_Fotor.jpg");
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bottom {
  background-color: #8dcbd0;
  height: 30%; }

.overlay {
  position: absolute;
  z-index: 1; }
  .overlay > div > div {
    background: rgba(0, 0, 0, 0.3);
    display: inline-block; }

.centerbuttons {
  text-align: center; }

#aboutMe {
  height: 1080px;
  text-align: center; }

#middle {
  height: 100%; }

.triangleContainer {
  height: 100%;
  display: inline-block; }

.triangles {
  display: inline-block;
  width: 200px;
  height: 100%;
  background-color: #8dcbd0; }

.rightPanel {
  width: calc(70% - 100px);
  background-color: #8dcbd0; }

.leftPanel {
  width: calc(30% - 100px);
  background-color: #cccccc; }

.triangle {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 160px 0 200px 160px;
  border-color: transparent transparent transparent #cccccc; }

.mybio {
  position: absolute;
  z-index: 1;
  height: 1080px;
  background-color: transparent;
  text-align: center; }

.absolute {
  position: absolute; }

.box {
  border: 2px solid white;
  width: 80%;
  padding: 50px;
  font-size: 30px;
  margin: 0 auto; }

#modal-container {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: #344a61;
  z-index: -1050;
  transition: background-color 1s ease; }
  #modal-container.show {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050; }
    #modal-container.show #modal-box {
      transform: translateY(-50%) scale(1); }

#modal-box {
  background-color: white;
  border-radius: 5px;
  border: 5px solid #344a61;
  margin: 0 auto;
  padding-bottom: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 480px;
  transition: all 1s ease; }

#modal-show {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  background: transparent;
  border: solid 5px white;
  transition: border .9s ease, color .5s ease; }
  #modal-show:hover {
    border-color: #8dcbd0;
    color: #8dcbd0; }
  #modal-show:active, #modal-show:focus {
    border-color: #344a61;
    color: #344a61;
    outline: none; }

#modal-hide {
  background: white;
  border-radius: 15px;
  color: #344a61;
  display: block;
  float: right;
  font-family: monospace;
  font-size: 15px;
  margin-right: -17px;
  position: relative;
  top: -18px;
  width: 30px; }
  #modal-hide:focus {
    outline: none; }

textarea {
  text-align: margin-left;
  height: 250px;
  width: 250px; }

::-webkit-input-placeholder {
  text-align: center; }

#sendButton {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #344a61;
  background: transparent;
  border: solid 5px #344a61;
  transition: border .9s ease, color .5s ease; }
  #sendButton:hover {
    border-color: #8dcbd0;
    color: #8dcbd0; }
  #sendButton:active, #sendButton:focus {
    border-color: #344a61;
    color: #344a61;
    outline: none; }

#projects {
  background-color: #344a5f;
  height: auto; }

.projectCells {
  font-size: 80px;
  text-align: center;
  width: 100%;
  display: block; }

.col-centered {
  display: inline-block;
  margin: 0px -8px 0px -8px;
  float: none;
  text-align: left; }

.row-centered {
  text-align: center; }

[data-animation="bounceInLeft"] {
  animation-duration: 3s; }

.slidingCard {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  background-color: #8dcbd0;
  list-style-type: none;
  text-align: center; }

.slidingCard p, .slidingCard h2 {
  padding: 10px;
  left: -20px;
  top: 10px;
  position: relative; }

.slidingCard p {
  font-size: 15px;
  line-height: 18px;
  margin: 0; }

.slidingCard h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0; }

.effect img {
  position: absolute;
  left: 0;
  min-height: 220px;
  max-height: 340px;
  width: 100%;
  bottom: 0;
  cursor: pointer;
  margin: -15px 0;
  -webkit-transition: bottom .3s ease-in-out;
  -moz-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out; }

.effect img.top:hover {
  bottom: calc(-100% + 100px);
  padding-top: 100px; }

h2.zero, p.zero {
  margin: 0;
  padding: 0; }

#tech {
  background-color: white;
  height: auto; }

.technologies {
  height: auto;
  text-align: center;
  width: 100%;
  color: #344a5f; }
  .technologies .title > div:before, .technologies .title > div:after {
    background-color: #344a5f; }

img {
  margin-left: 15px;
  margin-right: 15px; }

#techbox {
  display: inline-block;
  width: 100%; }

.tech-images {
  transition: all .5s ease; }
  .tech-images:hover {
    transform: scale(1.5); }

@media (max-width: 500px) {
  h1 {
    font-size: 41px; }
  .title {
    font-size: 40px; }
  .box {
    font-size: 20px; }
  #aboutme {
    height: 667px; }
  .tech-images {
    height: 70px;
    margin: 15px; }
  #techbox {
    margin-top: 15%; }
  #modal-box {
    width: 300px; }
  textarea {
    height: 250px;
    width: 250px; }
  #modal-container {
    left: -20px; } }
